.form-group {
    width: 80%;
    font-size: medium;
    margin: auto;
}
#logout {
    float: right;
}

body, html {
    height: 100%;
}

#btn {
    margin: 15px;
}
.ulkospan {
    margin: 15px;
}

.hide {
    display: none;
}

.show {
    display: inline;
}
body, html {
    height: 100%;
    /* The image used */
    background-image: url("/branko-stancevic-417172-unsplash.jpg") !important;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.outlook {
    background-color: rgb(39, 38, 38);
    color: #FFF;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    position: relative;
    border: 1px solid lightslategrey;
}
.typewriter > div, .typewriter > div > span {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(25, end),
      blink-caret .80s step-end;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0% }
    to { width: 85% }
  }
  
